header {
  display: flex;
  flex-direction: column;
  background-color: #D89820;
  height: 520px;
  width: 100%;
  padding-top: 178px;
  background-image: url(/images/arches.png);
}

header .avatar {
  display: flex;
  justify-content: center;
}

header .user {
  display: flex;
  justify-content: center;
}

header .user p {
  margin: 10px;
  color: #f4f1ec;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  header {
    flex-shrink: 1.1;
    margin: 2em;
    margin-top: 25vh;
    height: 15em;
    padding-top: 36px;
    width: 35em;
  }
}