nav {
  display: flex;
  background-color: #4056A1;
  height: 120px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

nav span.left{
  color: #FFFFFF;
  margin-left: 1.5em;
  margin-top: 1em;
  font-size: 2em;
  font-family: 'Bungee', sans-serif;
}
  
nav p {
  margin-bottom: 0px;
}

nav span.right {
  display: flex;
  flex-direction: column;
  align-self: end;
  color: #FFFFFF;
  margin-right: 1.5em;
  margin-bottom: 18px;
  font-family: 'Source Sans 3', sans-serif;
}

#arrow {
  display: flex;
  align-self: center;
  color: red;
}

/* Problem, the nav bar is transparent and the logo follows when you scroll down */
@media only screen and (max-width: 768px) {
  nav {
    background-color: transparent;
  }

  nav span.left{
    padding-right: 10%;
  }

  nav span.right {
    font-size: 24px;
  }
}