nav {
  display: flex;
  background-color: #4056A1;
  height: 120px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

nav span.left{
  color: #FFFFFF;
  margin: 1em 0 0 1.5em;
  font-size: 2em;
  font-family: 'Bungee', sans-serif;
}
  
nav p {
  margin-bottom: 0px;
}

nav span .nav-em {
  font-weight: 600;
}

nav span.right {
  display: flex;
  flex-direction: column;
  align-self: end;
  color: #FFFFFF;
  margin: 0 1.5em 1em 0;
  font-family: 'Source Sans 3', sans-serif;
}

#arrow {
  display: flex;
  align-self: center;
  color: red;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: transparent;
    position:absolute;
  }

  nav span.left{
    padding-right: 10%;
  }

  nav span.right {
    font-size: 24px;
  }
}